:root{
    --brown: #ef2727aa;
    --bgd-color:rgb(254,206,161);
    --pink: #f07cc3;
}
body{
  padding: 0px;
  background-color: var(--bgd-color);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    text-decoration: none;
    text-transform:capitalize;
}
#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 54px;
    color: #f49014;
    text-shadow: 5px 5px;
    text-indent: 2px 2px;
    margin: 0px 35px;
}
.header{
    background-color:#f1b6b6aa ;
}
.buy-sell-box{
    display: flex;
    margin-left:25px;
    padding: 10px;
}
.buy-sell-box .box{
   display: flex;
    margin-right: 30px;
}
.box img{
    width: 25px; height: 25px;
}
.box h3{
    font-weight: medium;
    margin-top: 2px;
}
.sell-box{
    float: right;
    margin-top: -80px;
    margin-right: 50px;
    background: #fa7a30;
    border-radius: 10px;
    color: white; 
    padding: 5px 15px;
    font-size: 24px;
}

.sell-box:hover{
    transition: 0.6s;
    background-color: #ad6d1f;
    text-decoration: none;
    color: white
}
.menu{
    color:rgb(34, 61, 65);
    border: 1px solid #ccc;
    /* background-color: orangered; */
    padding: 10px;
    background-color: var(--brown);
    font-weight:bold;
    font-size:medium;
    box-shadow: 0 0.5rem 0.5rem #999;
    font-family:  Verdana, Geneva, Tahoma, sans-serif
}
.menu .looking-for-box{
text-align: center;
}
select{
    width: 130px;
}
#looking-for{
border: 2px solid #f49014;
width: 200px;
margin-bottom: 2px;
}
input[type="text"]{
    width: 130px;
    border-radius: 5px;
    margin-right: 10px;
    height:25px;
    font-weight: 600;
}
input[type="number"]{
    width:80px;
    font-weight: 600;
}
.filter-search-box fieldset{
border: 1px solid #dcdcdc;
padding: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
font-weight: light;
}
.filter-search-box legend{
background-color: #efefef;
border: 1px solid #dcdcdc;
padding: 5px 20px;
text-align: left;
color: black;
}
.search-box{
    margin: 2px 10px;
    display: inline;
    width: 32%;
}
#submit{
    float: right;
    position: relative;
    bottom: 2px;
    background: #0d7e40;
    border-radius: 10px;
    color: #dcdcdc;
    padding: 5px 10px;
}
#submit:hover{
    transition: 0.6s;
    background-color: #124428;

}





/* The main bakoz-category elements */
.pagination-box{
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0px;
}
.other-category{
    background: rgb(255, 255, 255);
    border-radius:10px;
    margin-left: 10px;
    height: fit-content;
    margin-right: 30px;
    width: 20%;
    float: left;
    border: 1px solid #d0d0d0;
}

.other-category h1{
border-top-left-radius:10px;
border-top-right-radius:10px; 
text-align: center;
color: white;
background-color: orangered;
padding: 0px 10px;
border-bottom: 1px solid #d0d0d0;

}
.other-category a{
    display: block;
    text-decoration: none;
    color: black;
    }
.other-category a:hover{
        color: orangered;
        transition: 0.2s;
}
.description{
    width: 80%;
}
.description .heading{
background-color: #aeaeae;
border-radius: 5px;
display: flex;
}
.filter-image{
    width: 10px;
    height: 5px;
}
.primary-column{
    min-width: 460px;
flex:3;
margin-right: 10px;
}
.item-price{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 125%;
    font-weight: bold;
}
.item-town{
    font-weight:600;
    font-size: 1.1em;
    font-family: ChunkFiveRegular;
}
.item-address{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size:1.1em;
    font-weight:400;
}
.description .heading .primary-column img{
width: 25px; height: 25px;
}
.columns{
    flex:2;
    margin: 0px 5px;
}
.image-box{
display: flex;
margin-bottom: 10px;
}
.image-box:hover{
    background-color: #ffd9f0c2;
}
.title{
    font-size:1.5rem;
    max-width:260px;
}
.description .primary-column img{
    float: left;
    width: 140px;
    height: 100px;
    margin: 3px 6px 3px 3px;
}
.primary-column p{
    width: 260px;
    height: 90px;
    overflow: hidden;
}
.listed-time{
   float: right;
    top:2px;
    right: 10px;
}